
@{
    ViewBag.Title = "Order List";
}
@Html.Partial("~/Views/Shared/_NavBar.cshtml")
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <table style="border: 1px solid grey;" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Order No.</th>
                    <th scope="col">Type</th>
                    <th scope="col">Order Time</th>
                    <th scope="col">Price</th>
                    <th scope="col">Order Status</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.OrderId.Count; i++)
                {
                    <tr class="table-danger">
                        <th scope="row">@Model.OrderId[i]</th>
                        <td>@Model.Type[i]</td>
                        <td>@Model.dateTime[i]</td>
                        <td>@Model.finalTotalPrice[i]</td>
                        <td>@Model.status[i]</td>
                        <td class="text-center text-danger ">
                            <a href="@Url.Action("ViewOrderDetails", "Order", new { id = Model.OrderId[i] })" className="btn btn-success">
                                <i class="fa fa-pencil-square-o font-weight-bold" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<br />
<br />
<br />
@Html.Partial("~/Views/Shared/_Footer.cshtml")
